<div class="guides">
  <div class="slide">  
    <h3>Example Characters</h3>
    <p>There are an infinite number of characters that we may play, although there are usually no more than a dozen that we play regularly and these characters can change depending on our circumstances.</p>
    <p></p>
  </div>
</div>