/* COMMON */

* {
  box-sizing: border-box!important;
}

h1 {
  font-size: 1.8rem!important;
  margin-bottom: 1.5rem!important;
}

h2 {
  font-size: 1.6rem!important;
  margin-bottom: 1rem!important;
}





/* APP */


.App, .App-top {
  display: flex;
  flex-direction: column;
}

.App-top-gap {
  height: 2rem;
}

.App-main {
  display: flex;
  flex-direction: row;
}

.App-top { 
  margin-bottom: 4rem;
}

.App-title {
  width: 80%;
  text-align: left;

}


.CB {
  display: none;
}

.MD,
.MCL,
.MNC,
.MRC,
.MT,
.MTL,
.MIC {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

@media screen and (min-width: 767px) {

  .App-main {
    flex-direction: row;
  }

  .CB {
    display: block;
  }

}
