/* MCL - MainCharacterList */

.MCL {
  width: 80%;
}


/* MCLG - MainCharacterListGraph */

.MCLG {
  width: 80%;

  margin-bottom: 1.1rem;
}

.MCLG-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 1.1rem;
}

.MCLG-top-left {
  display: flex;
  width: 150px;
}

.MCLG-graph {
  height: 150px;
  width: 100%;

  border: 1px solid black; 

  margin-bottom: 2rem;
}


/* MCLL - MainCharacterListList */

.MCLL {
  width: 80%;
}

.MCLL-item-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.MCLL-item-top-left {
  display: flex;
  align-items: flex-end;
}

.MCLL-item {
  width: 100%;
  min-height: 9rem;
  border: 1px solid black;

  padding: 1rem;

  margin-bottom: 1.5rem;
}

.MCLL-item-title {
  padding-right: 1rem;
}

.MCLL-item-frequency {
  margin-bottom: 1rem;
}


.MCLL-item-traits {
  display: flex;
  margin-bottom: 2rem;
}

.MCLL-item-trait {
  padding-right: 1rem;
}

.MCLL-item-description {
  margin-bottom: 1rem;
}
