.MIC-graph {
  height: 150px;
  width: 80%;

  border: 1px solid black; 

  margin-bottom: 2rem;

  padding: 1rem;
  
}

/* traits */

.MIC-traits {
  margin-bottom: 1.5rem;
}

.MIC-traits-top {
  display: flex;
  justify-content: space-between;
}

.MIC-traits-list {
  display: flex;
}

.MIC-trait-item {
  display: flex; 
  margin-right: 1rem;
}


/* description */

.MIC-description {
  width: 80%;
  margin-bottom: 1.5rem;
}

.MIC-description-top {
  display: flex; 
}


.MIC-description-edit, .MIC-journal-edit {
  position: relative;
  top: 8px;
  left: 15px;
}

.MIC-description-text {

}

/* journal */

.MIC-journal {
  width: 80%;
}

.MIC-journal-top {
  display: flex;
  width: 80%;
}

.MIC-journal-item {
  margin-bottom: 1.5rem;
}

.MIC-journal-item:hover > .MIC-journal-item-edit, .MIC-journal-item:hover > .MIC-journal-item-edit {

}

.MIC-journal-item-date {
  margin-bottom: 0.5rem;
}

.MIC-journal-item-top {
  display: flex;
}

.MIC-journal-item-buttons {
  display: flex;
}

.MIC-journal-item-edit, .MIC-journal-item-delete {
  
}


/* new journal */

.MIC-new-journal {
  display: flex;
  flex-direction: column;
  
  width: 80%;
}

.MIC-new-journal-textarea {
  width: 100%;
}


/* additional */

.MIC-additional {
  width: 80%;

  margin-bottom: 1.5rem;
}


/* all */

.MIC-description-title,
.MIC-traits-title,
.MIC-description-title {

}