
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.Nav__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 4.5rem;
  height: 3rem;
  font-size: 1.2rem;

  text-decoration: none;

  color: #3131ff;

  transition: .3s opacity;
}

.Nav__item:hover {
  opacity: 0.6;
}