.guides__sidebar__menu {
  display: flex;
  flex-direction: column;

  margin-left: 2rem;
  margin-top: 2rem;

  background: #373f52;

  .guides__sidebar__item {
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
  }
}

