html {
  background: #fefefe;
}

* {
  font-family: 'Times New Roman', sans-serif;
}

h1, h2, h3 {
  color: #454545;      
  line-height: 1.2;
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

p {
  color: #454545;      
  line-height: 1.4;
  font-size: 1.2rem;
    
}

a {
  font-family: 'Arial', sans-serif;

  display: inline-block;

  border: 1px solid white;
  border-radius: 3px;
  // color: #07a;
  color: white;
  
  padding-left: 1rem; 
  padding-right: 1rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 

  text-decoration: none;
  opacity: 0.8;
  
  margin-bottom: 0.3rem;
}

// .important {
//   color: #16a085;
// }

a:hover {
  opacity: 1;
}
.btn-blue {
  background: #209cee;
}
.btn-green {
  background: #23d160;
}
.btn-red {
  background: #ff3860;
}
.btn-yellow {
  background: #ffdd57;
}
.btn-grey {
  background: #AAA694;
}


.button:hover {

}