main {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  height: 3rem;

  .header__left {
    
  }
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  max-width: 850px;
  min-width: 300px;
  padding: 0.5rem;

  margin-bottom: 5rem;
}

.hero,
.slide {
  width: 90%;
}

.hero {

} 


@media screen and (min-width: 767px) {
  .hero,
  .slide {
    // width: 49%;
  }
}