.MRC {
  
}

/* SELECTED CHARACTERS */

.MRC-selected-characters-heading, 
.MRC-selection-characters-heading {
  width: 80%;
}

.MRC-selected-characters {
  display: flex;
  width: 80%;
  height: 14rem;
  padding: 1rem;  
  border: 1px solid black;  
  margin-bottom: 1.5rem;
}

.MRC-no-selected-characters {

}

.MRC-no-selected-text {
  margin-bottom: 1rem;
}

.MRC-selected-character {
  position: relative;
}

.MRC-selected-character-minus-symbol {
  display: none;

  position: absolute;
  top: 0;
  right: 0;
}

.MRC-selected-character:hover > .MRC-selected-character-minus-symbol {
  display: block;
}


.MRC-balanced {
  padding: 1rem;
  display: inline-block;

  width: initial;

  border: 1px solid black;

  cursor: pointer;
}


/* CHARACTER LIST */

.MRC-character-list {
  display: flex;
  
  width: 80%;
  height: 14rem;
  padding: 1rem;
  border: 1px solid black;
  margin-bottom: 1.5rem;
}

.MRC-character, .MRC-selected-character {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 100px;
  height: 100px;

  border: 1px solid black; 
}

.MRC-character-add-symbol {
  display: none;

  position: absolute;
  top: 0;
  right: 0;
}

.MRC-character:hover > .MRC-character-add-symbol {
  display: block;
}